Flow/definition.json
{"name":"5bc0f635-d161-44f9-8992-cd6655ff3f80","id":"/providers/Microsoft.Flow/flows/5bc0f635-d161-44f9-8992-cd6655ff3f80","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"[IOA] Move Data from Forms to SharePoint","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"BillingConsumption","flowclientsuspensiontime":"2022-05-02T12:29:04.2269982Z","creator":{"id":"e8431d43-172c-4c69-8758-9ca572f2a533","type":"User","tenantId":"e004fb9c-b0a4-424f-bcd0-322606d5df38"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-05-02T12:29:04.2269982Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_the_IOA_Form_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"1b0ff46c-08ca-4fb5-aae5-7db5984eefec"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"parameters":{"form_id":"nPsE4KSwT0K80DImBtXfOEMdQ-gsF2lMh1icpXLypTNUN1lYWDlPNTY4WFNZUE44UFpCT1dORlJKTy4u"},"authentication":"@parameters('$authentication')"},"description":"Associated  Form: https://forms.office.com/Pages/DesignPage.aspx#FormId=nPsE4KSwT0K80DImBtXfOEMdQ-gsF2lMh1icpXLypTNUN1lYWDlPNTY4WFNZUE44UFpCT1dORlJKTy4u"}},"actions":{"Get_response_details":{"runAfter":{"Initialize_Debug_flag":["Succeeded"]},"metadata":{"operationMetadataId":"ef751e4f-d42d-4ae1-9016-505d56be6bf4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"parameters":{"form_id":"nPsE4KSwT0K80DImBtXfOEMdQ-gsF2lMh1icpXLypTNUN1lYWDlPNTY4WFNZUE44UFpCT1dORlJKTy4u","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"authentication":"@parameters('$authentication')"}},"Get_Items_(All_Resident_List_Records)":{"runAfter":{"Create_IOA_Record":["Succeeded"]},"metadata":{"operationMetadataId":"7526a215-1e88-4a53-b20b-dea2e451da44"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://emory.sharepoint.com/sites/GeneralSurgery","table":"efe0714a-22da-4045-903e-4537b224344e","viewScopeOption":"Default","$top":500,"view":"09c5e0d2-fb4e-438e-917a-27af23b3901e"},"authentication":"@parameters('$authentication')"}},"Create_IOA_Record":{"runAfter":{"Condition_-_Execute_Debug_code":["Succeeded"]},"metadata":{"operationMetadataId":"3f500398-e849-45cb-8cec-6029d2cfa92a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://emory.sharepoint.com/sites/GeneralSurgery","table":"1553f793-d332-4fd6-ad74-a7bb05c6af96","item/Title":"@outputs('Get_response_details')?['body/r05c4127994c84e1fa7c592663ba32872']","item/Instrumentcontrol_x002f_movement/Value":"N/A","item/Instrument_x0020_control_x0020__/Value":"N/A"},"authentication":"@parameters('$authentication')"}},"Initialize_variable_Target_Email":{"runAfter":{},"metadata":{"operationMetadataId":"70e357fa-d7ce-400f-ac11-c31ebefc6673"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Target email","type":"string"}]}},"Set_Target_email_(lower_case)":{"runAfter":{"Get_response_details":["Succeeded"]},"metadata":{"operationMetadataId":"63764132-576f-4a97-affb-9cf14063ab56"},"type":"SetVariable","inputs":{"name":"Target email","value":"@{toLower(outputs('Get_response_details')?['body/responder'])}"}},"Filter_array":{"runAfter":{"Get_Items_(All_Resident_List_Records)":["Succeeded"]},"metadata":{"operationMetadataId":"06d7b707-cf15-43dd-8b34-be23c7670bd6"},"type":"Query","inputs":{"from":"@outputs('Get_Items_(All_Resident_List_Records)')?['body/value']","where":"@contains(item()?['Account/Claims'], variables('Target email'))"}},"Apply_to_each":{"foreach":"@body('Filter_array')","actions":{"Update_Item_-_Transfer_Forms_data_to_SharePoint":{"runAfter":{},"metadata":{"operationMetadataId":"03d285ab-6779-4c78-8d1e-ccae510d7850"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://emory.sharepoint.com/sites/GeneralSurgery","table":"1553f793-d332-4fd6-ad74-a7bb05c6af96","id":"@outputs('Create_IOA_Record')?['body/ID']","item/Title":"@outputs('Get_response_details')?['body/r05c4127994c84e1fa7c592663ba32872']","item/DoS":"@outputs('Get_response_details')?['body/r6e13b1d926c04f39b2bd221d9e9268f3']","item/PGY_x0020_Level":"@items('Apply_to_each')?['PGYLevel']","item/Case_x0020_Difficulty/Value":"@outputs('Get_response_details')?['body/rb1f3d6032d954322b6acaed34319a873']","item/Performance_x0020_vs_x002e__x002/Value":"@outputs('Get_response_details')?['body/r5a0f1cf8736d438ea26630fe31ca8c29']","item/Attending_x0020_Surgeon":"@outputs('Get_response_details')?['body/r3f51b94495d04a8880ccb988cd39d9ab']","item/Competenceachieved/Value":"@outputs('Get_response_details')?['body/r3dba1c478080426d90fd9a1f424ed5c2']","item/Comments":"@outputs('Get_response_details')?['body/rd45c0731d3b443c5806887992be682b5']","item/Instrumentcontrol_x002f_movement/Value":"@outputs('Get_response_details')?['body/ra4acf32a46bf492d8200d799b0fc49ad']","item/Instrument_x0020_control_x0020__/Value":"@outputs('Get_response_details')?['body/r44dc69670b4a4579b3ed650e2c427218']","item/Technical_x0020__x002d__x0020_En/Value":"@outputs('Get_response_details')?['body/r7ca0591a4f40471eb408dbe28e189d15']","item/Technical_x0020__x002d__x0020_In/Value":"@outputs('Get_response_details')?['body/r8c337557e3084bfebecd9f46e59fa152']","item/Technical_x0020__x002d__x0020_Ti/Value":"@outputs('Get_response_details')?['body/rf8cc3641d97b486988068d1596e7d8a1']","item/Efficiency_x0020_and_x0020_Flow_/Value":"@outputs('Get_response_details')?['body/rc9060d32ff3b4f5ab203d1f5d83e3094']","item/Communication_x0020__x002d__x002/Value":"@outputs('Get_response_details')?['body/rd1b313f7994c46e5b6028870b5529a4f']","item/Resident/Id":"@items('Apply_to_each')?['ID']","item/FormsID":"@triggerOutputs()?['body/resourceData/responseId']"},"authentication":"@parameters('$authentication')"}},"Send_HTTP_Req_-_Clear_permissions_on_this_item":{"runAfter":{"Update_Item_-_Transfer_Forms_data_to_SharePoint":["Succeeded"]},"metadata":{"operationMetadataId":"61029544-a343-4b86-bafc-8b7f057c5e4e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://emory.sharepoint.com/sites/GeneralSurgery","parameters/method":"POST","parameters/uri":"_api/lists/getByTitle('Intraoperative Assessments')/items(@{outputs('Create_IOA_Record')?['body/ID']})/breakroleinheritance(copyRoleAssignments=false,clearSubscopes=true)"},"authentication":"@parameters('$authentication')"}},"Send_HTTP_Req_-_Give_Full_Control_to_Program_Staff_group":{"runAfter":{"Send_HTTP_Req_-_Clear_permissions_on_this_item":["Succeeded"]},"metadata":{"operationMetadataId":"e601aa82-d542-4af0-8a57-55c25bbc2117"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://emory.sharepoint.com/sites/GeneralSurgery","parameters/method":"POST","parameters/uri":"_api/lists/getByTitle('Intraoperative Assessments')/items(@{outputs('Create_IOA_Record')?['body/ID']})/roleassignments/addroleassignment(principalid=311,roledefid=1073741829)"},"authentication":"@parameters('$authentication')"}},"Send_HTTP_Req_-_Get_Resident's_SharePoint_User_ID":{"runAfter":{"Send_HTTP_Req_-_Give_Full_Control_to_Program_Staff_group":["Succeeded"]},"metadata":{"operationMetadataId":"762b370d-38cf-4630-a171-8c9d11cfd79d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://emory.sharepoint.com/sites/GeneralSurgery","parameters/method":"GET","parameters/uri":"_api/web/siteusers/getByEmail('@{items('Apply_to_each')?['Account/Email']}')","parameters/headers":{"accept":"application/json"}},"authentication":"@parameters('$authentication')"}},"Parse_Resident_Response_(JSON)":{"runAfter":{"Send_HTTP_Req_-_Get_Resident's_SharePoint_User_ID":["Succeeded"]},"metadata":{"operationMetadataId":"5647ee40-9a76-437a-9047-323a182d78ac"},"type":"ParseJson","inputs":{"content":"@outputs('Send_HTTP_Req_-_Get_Resident''s_SharePoint_User_ID')?['body']","schema":{"type":"object","properties":{"odata.metadata":{"type":"string"},"odata.type":{"type":"string"},"odata.id":{"type":"string"},"odata.editLink":{"type":"string"},"Id":{"type":"integer"},"IsHiddenInUI":{"type":"boolean"},"LoginName":{"type":"string"},"Title":{"type":"string"},"PrincipalType":{"type":"integer"},"Email":{"type":"string"},"Expiration":{"type":"string"},"IsEmailAuthenticationGuestUser":{"type":"boolean"},"IsShareByEmailGuestUser":{"type":"boolean"},"IsSiteAdmin":{"type":"boolean"},"UserId":{"type":"object","properties":{"NameId":{"type":"string"},"NameIdIssuer":{"type":"string"}}},"UserPrincipalName":{"type":"string"}}}}},"Send_HTTP_Req_-_Get_Advisor's_SharePoint_User_ID":{"runAfter":{"Send_HTTP_Req_-_Give_Read_access_to_Resident":["Succeeded"]},"metadata":{"operationMetadataId":"b3b601a9-7c68-4be5-b2c6-f31625e1f63d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://emory.sharepoint.com/sites/GeneralSurgery","parameters/method":"GET","parameters/uri":"_api/web/siteusers/getByEmail('@{items('Apply_to_each')?['Advisor/Email']}')","parameters/headers":{"accept":"application/json"}},"authentication":"@parameters('$authentication')"}},"Parse_Advisor_Response_(JSON)":{"runAfter":{"Send_HTTP_Req_-_Get_Advisor's_SharePoint_User_ID":["Succeeded"]},"metadata":{"operationMetadataId":"5ea81304-c6e3-4eeb-ae48-120561677f49"},"type":"ParseJson","inputs":{"content":"@outputs('Send_HTTP_Req_-_Get_Advisor''s_SharePoint_User_ID')?['body']","schema":{"type":"object","properties":{"odata.metadata":{"type":"string"},"odata.type":{"type":"string"},"odata.id":{"type":"string"},"odata.editLink":{"type":"string"},"Id":{"type":"integer"},"IsHiddenInUI":{"type":"boolean"},"LoginName":{"type":"string"},"Title":{"type":"string"},"PrincipalType":{"type":"integer"},"Email":{"type":"string"},"Expiration":{"type":"string"},"IsEmailAuthenticationGuestUser":{"type":"boolean"},"IsShareByEmailGuestUser":{"type":"boolean"},"IsSiteAdmin":{"type":"boolean"},"UserId":{"type":"object","properties":{"NameId":{"type":"string"},"NameIdIssuer":{"type":"string"}}},"UserPrincipalName":{"type":"string"}}}}},"Send_HTTP_Req_-_Give_Read_access_to_Resident":{"runAfter":{"Parse_Resident_Response_(JSON)":["Succeeded"]},"metadata":{"operationMetadataId":"ad6e9072-f73b-41ce-9d42-cdda287ec016"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://emory.sharepoint.com/sites/GeneralSurgery","parameters/method":"POST","parameters/uri":"_api/lists/getByTitle('Intraoperative Assessments')/items(@{outputs('Create_IOA_Record')?['body/ID']})/roleassignments/addroleassignment(principalid=@{body('Parse_Resident_Response_(JSON)')?['Id']},roledefid=1073741826)"},"authentication":"@parameters('$authentication')"}},"Send_HTTP_Req_-_Give_Read_Only_access_to_Advisor":{"runAfter":{"Parse_Advisor_Response_(JSON)":["Succeeded"]},"metadata":{"operationMetadataId":"b39890d3-6c90-4217-8646-d4e40375ead8"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://emory.sharepoint.com/sites/GeneralSurgery","parameters/method":"POST","parameters/uri":"_api/lists/getByTitle('Intraoperative Assessments')/items(@{outputs('Create_IOA_Record')?['body/ID']})/roleassignments/addroleassignment(principalid=@{body('Parse_Advisor_Response_(JSON)')?['Id']},roledefid=1073741826)"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Filter_array":["Succeeded"]},"metadata":{"operationMetadataId":"484a6b94-63a6-4826-b566-7849c60f9468"},"type":"Foreach"},"Condition_-_Execute_Debug_code":{"actions":{},"runAfter":{"Set_Target_email_(lower_case)":["Succeeded"]},"expression":{"equals":["@variables('Debug')","@true"]},"metadata":{"operationMetadataId":"39fea642-9388-44ea-8336-3b962403943f"},"type":"If"},"Initialize_Debug_flag":{"runAfter":{"Initialize_variable_Target_Email":["Succeeded"]},"metadata":{"operationMetadataId":"129519f8-ed43-4be9-9a60-ddd0e3744aec"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Debug","type":"boolean","value":"@false"}]}}}},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-9dcc83f2-dae2-49b1-a6eb-2f13-1d34300f","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"4cbe2e51b7d24ca8ac99337e42ade97a","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}